@model IEnumerable<Cotizaciones.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home </a></li>
                    <li><a asp-area="" asp-controller="Persona" asp-action="">Persona </a></li>
                    <li><a asp-area="" asp-controller="Cotizacion" asp-action="">Cotizacion</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="">User</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>


                </ul>

        </div>
</nav>


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materno)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
